
  /* Estilos del contenedor principal */
  .container-match-view {
    width: 50%;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  /* Estilos de los títulos */
  .container-match-view h1 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  .container-match-view h2 {
    font-size: 18px;
    margin-top: 10px;
  }
  .container-actualizar {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccc;
    padding: 40px;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  /* Estilos de los labels e inputs */
  .container-match-view label {
    font-family: 'Red Hat Display';
    display: block;
    margin-top: 10px;
  }
  
  .container-match-view input {
    font-family: 'Red Hat Display';
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    text-align: center;
  }

  
  /* Estilos del botón */
  button {
    background-color: #17cf97;
    transition: 0.4s;
    margin: 15px;
    border-radius: 15px;
    align-items: center;
    font-weight: bold;
  }

  button:hover {
    transition-duration: 0.4s;
    background-color: #1b2430;
  }
  
  
  